@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --White-Gradient : linear-gradient(135deg, hsl(0, 100%, 98%), hsl(0, 0%, 100%) );
    --Red-Gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background: var(--White-Gradient);
}

.hero__mobile{
    display: none;
}

.container{
    width: 100%;
    height: 100%;
}

.hero__container{
    width: 100%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.hero__content{
    width: 55%;
    height: 100%;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

.hero__header{
    width: 80%;
    height: 30%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.hero__logo{
    width: 130px;
    padding-top: 50px;
}

.hero__main{
    width: 80%;
    height: 70%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__title{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 60px;
}

.hero__title span{
    color: var(--Desaturated-Red);
    font-weight: 300;
}

.hero__description{
    color: var(--Desaturated-Red);
    font-size: 0.9rem;
    line-height: 20px;
}

.hero__input{
    width: 100%;
    height: 50px;
    border: 1px solid var(--Desaturated-Red);
    border-radius: 30px;
    position: relative;
}

.hero__input input{
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 30px;
    padding-left: 30px;
    color: var(--Desaturated-Red);
}

.hero__input input::placeholder{
    color: var(--Desaturated-Red);
}

.hero__input button{
    position: absolute;
    right: 0;
    width: 100px;
    height: 48px;
    border-radius: 30px;
    background: var(--Red-Gradient);
    border: none;
    box-shadow: 2px 2px 5px var(--Red-Gradient);
}

.hero__input button:hover{
    background: var(--Desaturated-Red);
}

.hero__error{
    position: absolute;
    right: 110px;
    top: 12px;
}

.hero__desktop{
    width: 45%;
    overflow: hidden;
}

.hero__desktop img{
    width: 100%;
    min-height: 100vh;
}

.error__text{
    color: var(--Soft-Red);
    font-size: 0.8rem;
    padding-left: 30px;
    padding-bottom: 30px;
}

.hide{
    display: none;
}

@media (max-width: 1024px){
    .hero__container{
        width: 90%;
        height: auto;
    }

    .hero__main{
        width: 90%;
        height: auto;
    }

    .hero__header{
        padding-left: 0px;
    }
}

@media (max-width: 900px){
    .hero__container{
        width: 100%
    }

    .hero__main{
       width: 100%;
    }
}

@media (max-width: 700px){
    body{
        height: auto;
    }

    .container{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero__content{
        width: 100%;
    }

    .hero__header{
        width: 80%;
        padding: 0;
        display: grid;
        place-content: center;
        gap: 30px;
    }

    .hero__main{
        width: 80%;
        padding: 0;
        padding-bottom: 60px;
        text-align: center;
    }

    .hero__title{
        font-size: 2rem;
    }

    .hero__description{
        font-size: 0.8rem;
    }

    .hero__input button{
        width: 60px;
    }

    .hero__mobile{
        display: block;
        max-width: 320px;
        width: 100%;
        margin-bottom: 50px;
    }

    .hero__desktop{
        display: none;
    }

    .hero__error{
        right: calc(100px + 10px);
    }
}

@media(max-width: 375px){
    .hero__logo{
        padding-left: 40px;
    }

    .error__text{
        padding: 0px;
    }
}
